/* Responsive Styles & Mobile Navigation WIP */

@media (max-width: 768px) {
    .nav-links.active { right: 0; }
    .hamburger { display: flex; }
    .hamburger.active span {
        transform: rotate(45deg);
    }
}
